@charset "UTF-8";

.error {
	color: red;
	font-size: 0.7rem;
}

* {
	margin: 0px;
	padding: 0px;
}

#header {
	color: #363636;
	font-size: 0.7rem;
	background-color: none;
	border-bottom: 1px solid #e5e5e5;
}

.header a {
	color: #363636;
	font-size: 0.7rem;
	background-color: none;
}

a.dropdown-item:active {
	background-color: white;
	color: #363636;
}

.nav-link {
	color: #363636;
	font-size: 12px;
	margin-top: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #363636;
	background-color: white;
}

.dropdown-menu {
	min-width: 0.7rem;
	border-radius: 0rem;
	padding: 0.1rem 0;
}

.footer_link_ul li {
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	font-family: "Malgun Gothic", "맑은 고딕", "Dotum", "돋움", AppleGothic,
		sans-serif;
	word-break: break-all;
	list-style: none;
	font-size: 11px;
	line-height: 26px;
	outline: none;
	text-decoration: none;
	color: #363636;
}

.footer_apps li {
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	font-family: "Malgun Gothic", "맑은 고딕", "Dotum", "돋움", AppleGothic,
		sans-serif;
	word-break: break-all;
	list-style: none;
	font-size: 11px;
	line-height: 26px;
	outline: none;
	text-decoration: none;
}

.footer_menu {
	border-top: 1px solid #e5e5e5
}

a {
	color: #363636;
}

.footer {
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: "Malgun Gothic", "맑은 고딕", "Dotum", "돋움", AppleGothic,
		sans-serif;
	color: #555;
	font-size: 12px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	line-height: 20px;
	word-break: break-all;
	background: #f5f5f5;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

.title {
	height: 50px;
	line-height: 40px;
	font-weight: 600;
	border-bottom: 2px solid #0b0b0b;
}

.product-subtitle {
	height: 50px;
	line-height: 40px;
	font-weight: 600;
}

.nav-link {
	color: #8f8f8f;
	font-weight: 500;
	font-family: "Apple SD Gothic Neo", sans-serif;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #0b0b0b;
	background-color: white;
}

/*slide*/
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.item_box a {
	display: block;
	position: relative;
}

.item_box .brand {
	font-family: "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕";
	font-size: 16px;
	color: #3a3a3a;
	margin-top: 15px;
	font-weight: bold;
}

.item_box .price {
	color: #646464;
	font-size: 13px;
	font-family: Arial, "Apple SD Gothic Neo", sans-serif;
	padding: 0;
}

.item_box span {
	display: block;
	text-align: center;
}

a:link, a:active, a:visited, a {
	text-decoration: none;
	color: #444;
	outline: none;
}

.title_wrap h4 {
    font-size: 16px;
    color: #222;
    font-weight:700;
}

.title_wrap .txt {
    margin-top: 15px;
    font-size: 12px;
    line-height: 22px;
    display: block;
    clear: both;
}

.join_txt2 {
    font-size: 12px;
    color: #222;
    line-height: 1.5;
    color: #555;
}

.btn-login, .btn-join{
	font-size:0.9rem;
}
.btn-search{
	 font-size: 12px;
	 font-weight: 700;
	 color: black;
	 margin-top: 1px;
}

.btn-des {
	margin : 0px 0px 5px 0px;
}
#btn-login-otp, #btn-login-guest{
	background-color: white;
	font-weight: 700;
	font-size: 14px;
	border: none;
	color: #555;
}

.member-text {
	font-size: 1.7rem;
	font-weight: 700;
	border-bottom : 1px solid #e3e3e3;
	padding-bottom: 10px;
	padding-left: 40px;
}

.member-bottom{
	height:35%;
	background-color: #f5f5f5;
}

.txt {
    margin-top: 15px;
    font-size: 12px;
    line-height: 22px;
}

.other-login-method{
    width: 100%;
    height: 50px;
  	margin-top: 20px;
}

.otp-login{
    width: 50%;
    float: left;
    text-align: right;
    border-right: 2px solid #c0c0c0;
    padding-right: 20px;
}
.guest-login{
    width: 50%;
    float: right;
    text-align: left;
    padding-left: 20px;
}
