.cart-tabs {
    border: none;
}


.cart-nav-item {
    width: 33.3%;
    height: 100px;
}

.cart-nav-btn {
    width: 100%;
    height: 100px;
    text-align: center;
    background: color #f5f5f5;
    font-size: 15pt;
    color : #9e9e9e;
    border:none;
    font-family: "Malgun Gothic","맑은 고딕","Dotum","돋움", AppleGothic,sans-serif;
    border-top: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
    border-bottom: 1px solid black;
}


.cart-nav-btn-wt {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color:white;
    font-size: 15pt;
    color:black;
    border: 1px solid black;
    border-bottom: none;
}



.cart_button_wt {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Malgun Gothic","맑은 고딕","Dotum","돋움", AppleGothic,sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    outline: none;
    margin-right: 0;
    color: #363636;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    padding: 6px 10px 7px;
    min-width: 50px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 11px;
    line-height: 11px;
    margin-left: 5px;
    width: 80px;
    margin-top: 20px;
    display: inline-block;
}

.cart_product_img {
    left: 0;
    top: 0;
    width: 98px;
    height: auto;
    display : inline;
    margin-right : 10px;
}

.qty_input {
    width: 60px;
    height: 24px;
    line-height: 24px;
    border-color: #cccccc;
    text-align: center;
    text-indent: 0;
    background: #f8f8f8;
    padding: 0;
	border: none;
}

.qty_left {
    width: 35px;
    height: 24px;
    line-height: 24px;
    border-color: #cccccc;
    text-align: center;
    text-indent: 0;
    background: #f8f8f8;
    padding: 0;
	border: none;
}

.qty_right {
    width: 35px;
    height: 24px;
    line-height: 24px;
    border-color: #cccccc;
    text-align: center;
    text-indent: 0;
    background: #f8f8f8;
	padding: 0;
	border: none;
}

.qty_change {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Malgun Gothic","맑은 고딕","Dotum","돋움", AppleGothic,sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    outline: none;
    margin-right: 0;
    color: #363636;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    padding: 6px 10px 7px;
    min-width: 50px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 11px;
    line-height: 11px;
    margin-left: 5px;
    width: 140px;
    margin-top: 20px;
    display: inline-block;
}


.cart_product {
    display: inline-block;

}

.cart_product_link {
    color : #444;
    font-size: 13px;
    display: block;
    
}

.cart_lg_btn_wt {
    padding: 8px 20px 10px;
    min-width: 140px;
    background: #fff;
    border: 1px solid #a3a3a3;
    font-size: 14px;
    text-decoration:none;
}

.cart_lg_btn_wt:hover {
    background: #f5f5f5;
    color: black;
}

.cart_lg_btn_gr {
    padding: 8px 20px 10px;
    min-width: 140px;
    background: #4a4a4a;
    border: 1px solid #4a4a4a;
    color: #fff;
    font-size: 14px;
    text-decoration:none;
}

.cart_lg_btn_gr:hover {
	background: #363636;
    color: #fff;
}

.cart_select_btn {
    display: inline-block; 
    width: 50px;
    margin-right: 5px;
    height: 18px;
    background-color: #fff;
    color: #222;
    font-size: 11px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #cacaca;
    padding: 0 2px;
}


.center {
    margin : 0px auto;
    text-align: center;
    vertical-align: middle;
}

.cart-option {
    color:black;
    font-size: 9pt;
}


a:hover {text-decoration:none;}
a:visited { text-decoration: none;}
a:link { text-decoration: none;}

.cart-table {
    margin-top: 50px;
}
.cart-table-head {
    background-color: #F5F5F5;
    border-top: black 1pt;
    border: 0;
}

.cart-table-option {
    background-color: #F5F5F5;
    border:none;
    display:hide;
}

.cart-table-head>th {
    border-top:black 1px;
    border-right:none;
    border-left:none;
    border-bottom:none;
}


.cart-table-total>td {
    border-left:none;
    border-right: none;
}

.noline-btn {
	border:none;
	background-color:white;
}



.cart-box-radio-input input[type="radio"]{
  display:none;
}

.cart-box-radio-input input[type="radio"] + span{
  display:inline-block;
  background:none;
  border:1px solid #dfdfdf;  
  padding:0px 10px;
  text-align:center;
  height:35px;
  line-height:33px;
  font-weight:500;
  cursor:pointer;
}

.cart-box-radio-input input[type="radio"]:checked + span{
  border:1px solid #4a4a4a;
  background:#4a4a4a;
  color:#fff;
}

.cart-box-radio-input input[type="radio"]:disabled + span{
  border:1px solid white;
  background:white;
  color:#dfdfdf;
}

.c-div-alert {
	 z-index: 2;
	 width:100%;
}

.c-div-content {
	 z-index: 1;
}

.cart-info {
	display: inline;
		-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	color: #555;
	margin: 0;
	padding: 0;
	vertical-align: top;
	font-weight: 800;
	word-break: break-word;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: "Malgun Gothic", "맑은 고딕", "Dotum", "돋움", AppleGothic,
		sans-serif;
}

.txt {
	margin-top: 15px;
	font-size: 13px;
	line-height: 22px;
}
