.footer_cnts2-1 {
	/* Font & Text */
	font-family: "Malgun Gothic", "맑은 고딕", Dotum, 돋움, AppleGothic, sans-serif !important ;
	font-size: 12px !important ;
	font-style: normal !important ;
	font-variant: normal !important ;
	font-weight: 400 !important ;
	letter-spacing: normal !important ;
	line-height: 20px !important ;
	text-decoration: none solid rgb(85, 85, 85);
	text-align: start !important ;
	text-indent: 0px !important ;
	text-transform: none !important ;
	vertical-align: top !important ;
	white-space: normal !important ;
	word-spacing: 0px !important ;

	/* Color & Background */
	background-attachment: scroll !important ;
	background-color: rgb(245, 245, 245) !important ;
	background-image: none !important ;
	background-position: 0% 0%!important ;
	background-repeat: repeat!important ;
	color: rgb(85, 85, 85)!important ;

	/* List */
	list-style-image: none!important ;
	list-style-type: disc !important ;
	list-style-position: outside !important ;

	/* Table */
	border-collapse: separate !important ;
	border-spacing: 0px 0px !important ;
	caption-side: top !important ;
	empty-cells: show !important ;
	table-layout: auto !important ;

	/* Miscellaneous */
	overflow: visible !important ; 
	cursor: auto !important ;
	visibility: visible !important ;

}