.footer-menu {
    background-color: white;
    width:1200px;
    margin:0px auto;
    
}

.footer-img {
    display: inline;
    vertical-align: top;
}

.footer-list {
    list-style: none;
}

.footer-list>li {
    list-style: none;
    font-family: "Malgun Gothic","맑은 고딕","Dotum","돋움", AppleGothic,sans-serif;
    font-size: 8pt;
    color: #555;
}

.footer-menu-list-wrap {
    vertical-align: top;
    display: inline-block;
    margin-left:5px;
}


.footer-menu-app-wrap {
    display: inline-block;
    margin-left:20px;
    
}